*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Able Lead', serif;
    color:rgb(222, 217, 209);
}

@font-face {
  font-family: 'Able Lead';
  src: url('fonts/Able_Lead.ttf');
}

@font-face {
  font-family: 'Rigoletto';
  src: url('fonts/Rigoletto.otf');
}

body{
    background: #ffe99e
}

.title_font{
  font-family: 'Rigoletto', sans-serif;
  font-weight: normal;
}

.navbar .title_font{
  color: #133951;
  font-size: 40px;
  margin: 10px;
}

.nav_style{
    font-size: 40px;
    background-color: #F3C12C;
    color: #133951;
}

.nav-link{
  margin-left: 30px;
}

.navbar-toggler{
  border: 2px solid #133951;
}

.navbar-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2819, 57, 81, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.profile img {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgba(149, 141, 141, 0.637);
    
}

.profile h1{
    color:#133951;
    font-weight: 600;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
}

.profile h1 span{
  font-family: 'Times New Roman', Times, serif;
  color:#133951;
}

.choices{
    margin-top:50px;
    font-size: 25px;
}

.choices a{
  text-decoration: none;
}

.choices a h1{
    color:#133951;
    font-weight: 600;
}

.col img{
  width:75%;
}