*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ramillas', serif;
    color:rgb(222, 217, 209);
}

@font-face {
  font-family: "Ramillas";
  src: url('fonts/TT\ Ramillas\ Trial\ Regular.ttf');
}

@font-face {
  font-family: 'Rigoletto';
  src: url('fonts/Rigoletto.otf');
}

body{
    /* background:#133951; */
    background-image: url(Background.png);
}

.title_font{
  font-family: 'Rigoletto', sans-serif;
  font-weight: normal;
}

.navbar .title_font{
  color: #133951;
  font-size: 40px;
  margin: 10px;
}

.navbar .profile-picture{
  width:6%;
  border-radius: 50%;
  margin: 15px;
}

.nav_style {
    font-size: 40px;
    background-color: #F3C12C;
    color: #133951;
}

.nav-link{
  margin-left: 30px;
}

.navbar-toggler{
  border: 2px solid #133951;
}

.navbar-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2819, 57, 81, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-item{
  color:#112d4a;
  font-size: 20px;
  font-weight: 500;
}

#pickModal{
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#pickModal.active{
  display: flex;
}

#open-btn{
  background: transparent;
  color:#133951;
  border:none;
}

#pickModal .modal-content{
  position: relative;
  background: transparent;
  border: none;
  box-shadow: none;
  width: auto;
  max-width: 90%;
}

#pickModal .modal-close{
  position: absolute;
  right:25px;
  top: -50px;
  background: transparent;
  border: none;
  color: #1d2845;
  font-size: 150px;
  cursor: pointer;
  z-index: 2;
}

#pickModal .wrapper{
  width: 600px;
  height: 600px;
  background: rgb(222, 217, 209);
  border: 2px solid #1d2845a5;
  color: #1d2845;
  box-shadow: 0 0 10px rgb(175, 171, 171);
  border-radius: 10px;
  padding: 30px 40px;
}

#pickModal .wrapper h2{
  font-size: 45px;
  text-align: center;
  padding: 20px;
  color: #1d2845;
}

#pickModal .wrapper img{
  height: 180px;
  width: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#pickModal .wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

#pickModal .input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #1d2845;
  outline: none;
  border-radius: 40px;
  font-size: 18px;
  color: #1d2845;
  padding: 22px 45px 20px 20px;
}

#pickModal .input-box input::placeholder{
  color: #1d2845;
}

#pickModal .wrapper .remember-forgot{
  text-align: right;
  font-size: 17.5px;
  margin: -15px 10px;
}

#pickModal .remember-forgot a{
  color: #1d2845;
  text-decoration: underline;
}

#pickModal .wrapper .btn{
  width: 100%;
  height: 45px;
  margin-top: 70px;
  background: #1d2845;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.156);
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

#pickModal .wrapper .register-link{
  font-size: 20px;
  text-align: center;
  margin: 20px 0 -4px;
}

#pickModal .wrapper .register-link p,
#pickModal .wrapper .register-link span,
#pickModal #question-mark{
  color: #1d2845;
}

#pickModal .register-link p a{
  color: #1d2845;
  text-decoration: none;
  font-weight: 600;
}

#pickModal .register-link p a:hover{
  text-decoration: underline;
}

.mini-header h1{
  text-align: center;
  color:#133951;
  font-size: 400%;
  font-weight:600;
  margin: 40px 0 0 0;
}

.mini-header p{
  text-align: center;
  color:#133951;
  font-size: 200%;
  margin: -3px 0 70px 0;
}

.favorites-grid{
  margin:0 30px 50px 30px;
}

.favorites-grid a{
  text-decoration: none;
}

.card-body img{
  width:50%;
  float: right;
}

.card-body h5{
  font-size: 180%;
  font-weight: 600;
}

.card-body p{
  font-size: 150%;
  font-weight: 500;
  color:#133951;
}

#stars{
  color:#F3C12C;
}

.card-text{
  margin: 50px 0 -px 0
}