*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ramillas', serif;
    color:rgb(222, 217, 209);
}

@font-face {
  font-family: "Ramillas";
  src: url('fonts/TT\ Ramillas\ Trial\ Regular.ttf');
}

@font-face {
  font-family: 'Rigoletto';
  src: url('fonts/Rigoletto.otf');
}

body{
    background:#133951;
}

.title_font{
  font-family: 'Rigoletto', sans-serif;
  font-weight: normal;
}

.navbar .title_font{
  color: #133951;
  font-size: 40px;
  margin: 10px;
}

.navbar .profile-picture{
  width:6%;
  border-radius: 50%;
  margin: 15px;
}

.nav_style {
    font-size: 40px;
    background-color: #F3C12C;
    color: #133951;
}

.nav-link{
  margin-left: 30px;
}

.navbar-toggler{
  border: 2px solid #133951;
}

.navbar-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2819, 57, 81, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-item{
  color:#112d4a;
  font-size: 20px;
  font-weight: 500;
}

.mini-header h1{
  text-align: center;
  font-size: 400%;
  font-weight:600;
  margin: 40px 0 0 0;
}

.mini-header p{
  text-align: center;
  font-size: 200%;
  margin: -3px 0 70px 0;
}

.favorites-grid{
  margin:0 30px 50px 30px;
}

.favorites-grid a{
  text-decoration: none;
}

.card-body img{
  width:50%;
  float: right;
}

.card-body h5{
  font-size: 180%;
  font-weight: 600;
}

.card-body p{
  font-size: 150%;
  font-weight: 500;
  color:#133951;
}

#stars{
  color:#F3C12C;
}

.card-text{
  margin: 50px 0 -px 0
}