@font-face {
  font-family: 'Rigoletto';
  src: url('../fonts/Rigoletto.otf');
}

@font-face {
  font-family: 'Able Lead';
  src: url('../fonts/Able_Lead.ttf');
}

@font-face {
  font-family: 'Hypermarket';
  src: url('../fonts/hypermarket-regular.ttf');
}

body{
  background-image: url(../images/Background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;

  font-family: 'Able Lead', serif;
}

.title_font{
  font-family: 'Rigoletto', sans-serif;
  font-weight: normal;
}

.navbar .title_font{
  color: #133951;
  font-size: 40px;
  margin: 10px;
}

.receipt .title_font{
  font-size: 30px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 15px;
  text-transform: none;
}

.groceries{
  font-family: 'Hypermarket', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 15px;
}

p{
  margin: 0 0 10px;
}

.list{
  margin: 5px 0vh;
}

.info{
  margin: 0vh;
  text-align: left;
}

p, table, .info{
  font-family: 'Hypermarket', sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead{
  border-top: 1px dashed;
  border-bottom: 1px dashed;
}

.begin{
  padding-left: 0vh;
}

td{
  padding: 2px 10px;
  vertical-align: top;
}

.length{
  text-align: right;
  padding-left: 10px;
  padding-right: 0px;
}

.thanks{
  text-align: center;
  padding: 15px 0px;
}

.thanks img{
  vertical-align: middle;
  width: 70%;
  border: 0;
}

.nav_style{
    font-size: 40px;
    background-color: #F3C12C;
    color: #133951;
}

.nav-link{
  margin-left: 30px;
}

.navbar-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2819, 57, 81, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-toggler{
  border: 2px solid #133951;
}

section {
  background-color: #EDE2CD;
  width: 90%;
  min-height: 70vh;
  border-radius: 10px;
  margin: 0vh auto 5vh;
  display: block;
  position: relative;
  z-index: 2;
}

.line{
  border-right: #133951 solid 2px;
}

.custom-col {
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 66vh;
  position: relative;
}

.patch {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.patch img {
  width: 450px;
  height: auto;
}

@media (max-width: 1024px) {
  .patch img {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .patch img {
    width: 300px;
  }
  .basket img {
    width: 200px;
  }
  .receipt img {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .patch img {
    width: 200px;
  }
  .basket img {
    width: 100px;
  }
  .receipt img {
    width: 100px;
  }
}

.rest{
  position: relative;
  padding-top: 14vh;
}

.basket {
  top: 0;
  position: relative; /* Essential for positioning the child relative to the container */
}

.basket img {
  width: auto;
  height: 45vh;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.receipt {
  top: 0;
  position: relative;
  background-image: url(../images/Receipt\ Shadow.png);
  background-position: center;
  max-width: 400px;
  padding: 30px;
  text-transform: uppercase;
  background-size: cover;
  margin: 0 auto; /* centers it within the col-6 */
}

/*.receipt img {
  width: auto;
  height: 80vh;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

.no-margin{
  padding: 0;
  margin: 0;
}