@font-face {
  font-family: 'Rigoletto';
  src: url('../fonts/Rigoletto.otf');
}

@font-face {
  font-family: 'Able Lead';
  src: url('../fonts/Able_Lead.ttf');
}

@font-face {
  font-family: 'Hypermarket';
  src: url('../fonts/hypermarket-regular.ttf');
}

@font-face {
  font-family: 'Ramillas Regular';
  src: url('../fonts/TT\ Ramillas\ Trial\ Regular.ttf');
}

@font-face {
  font-family: 'Ramillas Bold';
  src: url('../fonts/TT\ Ramillas\ Trial\ Bold.ttf');
}

@font-face {
  font-family: 'Ramillas Italic';
  src: url('../fonts/TT\ Ramillas\ Trial\ Italic.ttf');
}

@font-face {
  font-family: 'Ramillas Light';
  src: url('../fonts/TT\ Ramillas\ Trial\ Light.ttf');
}

body{
  background-image: url(../images/Background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  font-family: 'Ramillas Light', serif;
}

.title_font{
  font-family: 'Rigoletto', sans-serif;
  font-weight: normal;
}

.navbar .title_font{
  color: #133951;
  font-size: 40px;
  margin: 10px;
}

.nav_style{
    font-size: 40px;
    background-color: #F3C12C;
    color: #133951;
}

.nav-link{
  margin-left: 30px;
}

.navbar-toggler{
  border: 2px solid #133951;
}

.navbar-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2819, 57, 81, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#pickModal{
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#pickModal.active{
  display: flex;
}

#open-btn{
  background: transparent;
  color:#133951;
  border:none;
}

#pickModal .modal-content{
  position: relative;
  background: transparent;
  border: none;
  box-shadow: none;
  width: auto;
  max-width: 90%;
}

#pickModal .modal-close{
  position: absolute;
  right:25px;
  top: -50px;
  background: transparent;
  border: none;
  color: #1d2845;
  font-size: 150px;
  cursor: pointer;
  z-index: 2;
}

#pickModal .wrapper{
  width: 600px;
  height: 600px;
  background: rgb(222, 217, 209);
  border: 2px solid #1d2845a5;
  color: #1d2845;
  box-shadow: 0 0 10px rgb(175, 171, 171);
  border-radius: 10px;
  padding: 30px 40px;
}

#pickModal .wrapper h2{
  font-size: 45px;
  text-align: center;
  padding: 20px;
  color: #1d2845;
}

#pickModal .wrapper img{
  height: 180px;
  width: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#pickModal .wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

#pickModal .input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #1d2845;
  outline: none;
  border-radius: 40px;
  font-size: 18px;
  color: #1d2845;
  padding: 22px 45px 20px 20px;
}

#pickModal .input-box input::placeholder{
  color: #1d2845;
}

#pickModal .wrapper .remember-forgot{
  text-align: right;
  font-size: 17.5px;
  margin: -15px 10px;
}

#pickModal .remember-forgot a{
  color: #1d2845;
  text-decoration: underline;
}

#pickModal .wrapper .btn{
  width: 100%;
  height: 45px;
  margin-top: 70px;
  background: #1d2845;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.156);
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

#pickModal .wrapper .register-link{
  font-size: 20px;
  text-align: center;
  margin: 20px 0 -4px;
}

#pickModal .wrapper .register-link p,
#pickModal .wrapper .register-link span,
#pickModal #question-mark{
  color: #1d2845;
}

#pickModal .register-link p a{
  color: #1d2845;
  text-decoration: none;
  font-weight: 600;
}

#pickModal .register-link p a:hover{
  text-decoration: underline;
}

.receipt .title_font{
  font-size: 30px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 20px;
  text-transform: none;
}

.groceries{
  font-family: 'Hypermarket', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 10px;
}

p{
  margin: 0 0 10px;
}

.list{
  margin: 5px 0vh;
}

.info{
  margin: 0vh;
  text-align: left;
}

p, table, .info{
  font-family: 'Hypermarket', sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead{
  border-top: 1px dashed;
  border-bottom: 1px dashed;
}

.begin{
  padding-left: 0vh;
}

td{
  padding: 2px 10px;
  vertical-align: top;
}

.length{
  text-align: right;
  padding-left: 10px;
  padding-right: 0px;
}

.thanks{
  text-align: center;
  padding: 15px 0px;
}

.thanks img{
  vertical-align: middle;
  width: 70%;
  border: 0;
}

.nav_style{
    font-size: 30px;
    background-color: #F3C12C;
    color: #133951;
}

.nav-link{
  margin-left: 30px;
}

.navbar-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2819, 57, 81, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-toggler{
  border: 2px solid #133951;
}

section {
  background-color: #EDE2CD;
  width: 90%;
  min-height: 70vh;
  border-radius: 10px;
  margin: 0vh auto 5vh;
  display: block;
  position: relative;
  z-index: 2;
}

.line{
  border-right: #133951 solid 2px;
}

.custom-col {
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 66vh;
  position: relative;
}

.patch {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.patch img {
  width: 450px;
  height: auto;
}

@media (max-width: 1024px) {
  .patch img {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .patch img {
    width: 300px;
  }
  .basket img {
    width: 200px;
  }
  .receipt img {
    width: 200px;
  }
  /*.item{
    width: 5%;
  }*/
}

@media (max-width: 480px) {
  .patch img {
    width: 200px;
  }
  .basket img {
    width: 100px;
  }
  .receipt img {
    width: 100px;
  }
}

.rest{
  position: relative;
  padding-top: 14vh;
}

.basket-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.basket-container img.basket-bg {
  width: auto;
  height: 50vh;
  display: block;
  max-width: 100%;
}

/*.basket {
  top: 0;
  position: relative;
  display: inline-block;
}

.basket img {
  width: auto;
  height: 45vh;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

.receipt {
  top: 0;
  position: relative;
  background-image: url(../images/Receipt\ Shadow.png);
  background-position: center;
  max-width: 400px;
  padding: 30px;
  text-transform: uppercase;
  background-size: cover;
  margin: 0 auto; /* centers it within the col-6 */
}

/*.receipt img {
  width: auto;
  height: 80vh;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

.no-margin{
  padding: 0;
  margin: 0;
}

.item {
  position: absolute;
  width: 40%;
  height: auto;
}

.eggs {
  top: 8%;
  right: 7%;
}

.sugar {
  top: 15%;
  left: 10%;
}

.milk {
  top: 35%;
  right: 10%;
  width: 35%;
}

.chicken {
  top: 50%;
  left: 12%;
}

.cherries {
  bottom: 8%;
  left: 35%;
}